<div class="content-row">
  <div class="form-group">
      <% if @user.id == current_user.id %>
        <p><a href="/groups#index" id="form">コミュニティー</a></p>
      <% else %>
      <% if @isRoom == true %>
        <p><a href="/rooms/<%= @roomId %>" id="form">メッセージ</a></p>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "メッセージ" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <p><%= @name %>さんの投稿一覧</p>
  <div class="container">
    <% @posts.each do |post| %>
      <div class='post-img-content'>
        <%= image_tag(post.image, class: "post-img")%>
          <div class="more">
            <div class="toggle_btn" id="toggle_btn">
              <span></span>
              <span></span>
            </div>
            <ul class="more-list" id="more-list">
              <li>
                <%= link_to 'show', post_path(post.id), method: :get %>
              </li>
                <% if user_signed_in? && current_user.id == post.user_id %>
                  <li>
                    <%= link_to 'edit', edit_post_path(post.id), method: :get %>
                  </li>
                  <li>
                    <%= link_to 'delete', post_path(post.id), method: :delete %>
                  </li>
                <% end %>
            </ul>
          </div>
      </div>
      <div class="container">
        <%= post.detail %>
      </div>
    <% end %>
  </div>
</div>