<!DOCTYPE html>
<html>
  <head>
    <title>Postration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <script src="index.js"></script> %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-bar">
        <h1 class="title"><a href="/">PostRaTion</a></h1>
          <% if user_signed_in? %>
            <div class="name">
              <span>
                <div class="user-name" id="lists">
                  <%= current_user.name %>
                </div>
                <ul class="more-list" id="pull-down">
                  <li>
                    <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </span>
            </div>
          <% else %>
          <div class="user-create">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
          <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Postration.
      </p>
    </footer>
  </body>
</html>
